{% extends 'base.html' %}

{% block body %}
  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>

<main class="create-room layout">
  <div class="container">
    <div class="container" style=" width: 100%; border: 2px solid rgb(222, 101, 101); border-radius: 40px; padding: 20px; background: var(--color-dark); color: var(--color-); box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);">
      <div class="layout__boxHeader">
        <div class="layout__boxTitle">
          <a href="{{request.META.HTTP_REFERER}}">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
              <title>arrow-left</title>
              <path
                d="M13.723 2.286l-13.723 13.714 13.719 13.714 1.616-1.611-10.96-10.96h27.625v-2.286h-27.625l10.965-10.965-1.616-1.607z">
              </path>
            </svg>
          </a>
          <h3>Ask Anything</h3>
        </div>
      </div>
      <div class="layout__body">
        
        <form class="form" action="" method="POST">
          {% csrf_token %}
          <div class="form__group">
            <label for="room_name">Title : </label>
            {{form.title}}
          </div>
          <div class="form__group">
            <label for="room_description">Details :</label>
            {{form.content}}
          </div>
          <div class="form__group">
            <label for="room_name">Tags : Separate by space between tags</label>

            {{form.tags}}
          </div>


          <div class="form__action">
            <a class="btn btn--dark" href="{{request.META.HTTP_REFERER}}">Cancel</a>
            <button class="btn btn--main" type="submit">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</main>
{% endblock body %}