{% extends "base.html" %}
 

{% block body %}

<main>
    <section class="user-questions">
        <h2>My Groups</h2>
        <ul>
            {% for group in mygroups  %}
            <li>
                
                <span>{{group.name}}</span>
                <p class="question-description">{{group.bio}}</p>
                <a href='{% url "group:group_detail" group.id %}' class="btn-detail">View Group</a>
                {% comment %} if request.user in .all() : {% endcomment %}
                {% if user not in group.members.all  %}
                <a href='{% url "group:join_group" group.id %}' class="btn-detail">Join Group</a>
                {% endif %}
            </li>
            {% endfor %}
            
        </ul>
    </section>

    <section class="user-questions">
        <h2>Newest Groups</h2>
        <ul>
            {% for group in groups  %}
            <li>
                <span>{{group.name}}</span>
                <p class="question-description">{{group.bio}}</p>
                {% comment %} if request.user in .all() : {% endcomment %}
                {% if user not in group.members.all  %}
                <a href='{% url "group:join_group" group.id %}' class="btn-detail">Join Group</a>
                {% endif %}
            </li>
            {% endfor %}
            
        </ul>
    </section>
</main>

{% endblock body %}

