
  {% extends "base.html" %}
 
  {% block body %}

  
  
  {% if user.is_authenticated %}

  <main>
      <section class="hero">
          <h1>You are already Login !</h1>
          <h1>Welcome to Questify</h1>
          <p>Your platform for asking and answering questions.</p>
      </section>
  {% comment %} {% for question in lastest_questions  %} {% endcomment %}
      <section class="latest-questions">
          <h2>Latest Questions</h2>
          <h4>{{lastest_questions.title}}</h4>
          <p>{{lastest_questions.content}}</p>
          <!-- Latest questions content here -->
      </section>
      {% comment %} {% endfor %} {% endcomment %}
  </main>
  
  {% else %}


  <main class="auth layout">
        <div class="container" style=" width: 100%;  border: 2px solid rgb(94, 94, 94);  border-radius: 40px; padding: 20px; background:rgba(137, 142, 137, 0.351);; color: var(--color-dark-light); box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);">
          <div class="layout__boxTitle">
            <h3>Login</h3>
          </div>
        </div>
        <div class="layout__body">
          <h2 class="auth__tagline">Find your study partner</h2>
          
  {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
  {% endif %}

  {% if next %}
    {% if user.is_authenticated %}
      <p>Your account doesn't have access to this page. To proceed,
      please login with an account that has access.</p>
    {% else %}
      <p>Please login to see this page.</p>
    {% endif %}
  {% endif %}

  <form method="post" class="form" action="{% url 'accounts:login' %}">
    <div class="form__group form__group">

    {% csrf_token %}
    {{form}}
    {% comment %} <input type="submit" value="login" class="btn btn--main" > {% endcomment %}
      <br>   
    <button class="btn btn--main" type="submit">
      <svg
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
        width="32"
        height="32"
        viewBox="0 0 32 32"
      >
        <title>lock</title>
        <path
          d="M27 12h-1v-2c0-5.514-4.486-10-10-10s-10 4.486-10 10v2h-1c-0.553 0-1 0.447-1 1v18c0 0.553 0.447 1 1 1h22c0.553 0 1-0.447 1-1v-18c0-0.553-0.447-1-1-1zM8 10c0-4.411 3.589-8 8-8s8 3.589 8 8v2h-16v-2zM26 30h-20v-16h20v16z"
        ></path>
        <path
          d="M15 21.694v4.306h2v-4.306c0.587-0.348 1-0.961 1-1.694 0-1.105-0.895-2-2-2s-2 0.895-2 2c0 0.732 0.413 1.345 1 1.694z"
        ></path>
      </svg>

      Login
    </button>
    
    <input type="hidden" name="next" value="{{ next }}">
  </form>
  <div class="auth__action">
    <p>Haven't signed up yet?</p>
    <a href="{% url 'accounts:signup' %}" class="btn btn--link">Sign Up</a>
  </div>
</div>



  {# Assumes you set up the password_reset view in your URLconf #}
  <p><a href="{% url 'accounts:password_reset' %}">Lost password?</a></p>
  {% endif %}
  {% endblock body %}