{% extends "base.html" %}

{% block body %}

<main>
  {% comment %} <section class="notifications">
      <h3>Notifications:</h3>
      <ul>
          <li>You have a new comment on your question: <a href="question_detail.html?id=1">Question Title</a></li>
          <li>Your question has been answered: <a href="answer_detail.html?id=2">Answer Title</a></li>
      </ul>
  </section> {% endcomment %}



        {% if profile.user.id != my_user.id %}
            
        <section class="profile">
            <div class="profile-container">
                <div class="profile-header">
                    <img src="{{profile.image}}" alt="User Avatar" class="profile-avatar">
                    <h2>{{profile.user}}</h2>

                    {% if my_user == profile.user %}
                    <a href="{% url 'accounts:profile_edit' profile.slug %}" class="btn-edit-profile">Edit Profile</a>
                    
                    {% comment %} {% elif profile.user in profile.friends.all %} 
                    <a href='{% url "accounts:add_friend" profile.user.id %}' class="btn-detail">remove Friend</a>
                    {% else %}
                    <a href='{% url "accounts:add_friend" profile.user.id %}' class="btn-detail">Add Friend</a>
                    {% endcomment %}
                    {% endif %} 

                </div> 
                
                <div class="profile-info">
              <h3>Profile Information</h3>
              <p><strong>Bio:</strong> {{profile.bio}}</p>
              <p><strong>Email:</strong> {{profile.user.email}}</p>
              <p><strong>Phone:</strong> {{profile.tel}}</p>
              <p><strong>Joined:</strong> Joined</p>
              <p><strong>Birth Day :</strong> {{profile.birth_day}}</p>
            </div>
        </section>

        {% else %}

        <section class="profile">
            <div class="profile-container">
                <div class="profile-header">
                    <img src="{{profile.image}}" alt="User Avatar" class="profile-avatar">
                    <h2>{{profile.user}}</h2>

                    <a href="{% url 'accounts:profile_edit' profile.slug %}" class="btn-edit-profile">Edit Profile</a>


                </div> 
                
                <div class="profile-info">
              <h3>Profile Information</h3>
              <p><strong>Bio:</strong> {{profile.bio}}</p>
              <p><strong>Email:</strong> {{profile.user.email}}</p>
              <p><strong>Phone:</strong> {{profile.tel}}</p>
              <p><strong>Joined:</strong> Joined</p>
              <p><strong>Birth Day :</strong> {{profile.birth_day}}</p>
            </div>
        </section>


        <section class="user-questions">
            <h2>My Groups</h2>
            <ul>
                {% for group in mygroups  %}
                <li>
                    <span>{{group.name}}</span>
                    <p class="question-description">{{group.bio}}</p>
                    <a href='{% url "group:group_detail" group.id %}' class="btn-detail">View Group</a>
                </li>
                {% endfor %}
                
            </ul>
        </section>
          
          
          <h3 class= "quest_last">Your Friends :</h3>
          {% for friend in myfriends %}
          
          <div class="user-questions">
              <ul id="questions-list">
                <h4> {{friend.username}}</h3>

                    </ul>
                {% comment %} <a href='{{ mypost.get_absolute_url }}' class="btn-action">View Detail</a> {% endcomment %}
                <a href="{% url 'accounts:profile' friend.id %}" class="btn details-btn">View Details</a>
                
            </div>
            {% endfor %}

          <h3 class= "quest_last">Your Last 3 Questions :</h3>
          {% for mypost in myposts %}
          
          <div class="user-questions">
              <ul id="questions-list">
                <h4> {{mypost.title}}</h3>
                <h6>{{mypost.content}}</h3>
                <h6> {{mypost.created_at}}</h3>
                    </ul>
                {% comment %} <a href='{{ mypost.get_absolute_url }}' class="btn-action">View Detail</a> {% endcomment %}
                <a href="{% url 'ask:question_detail' mypost.id %}" class="btn details-btn">View Details</a>
                
            </div>
            {% endfor %}
            <hr>
            
            <h3 class= "quest_last">Your Last 3 Answers :</h3>
            {% for myanswer in myanswers %}
            <div class="user-answers">
                <ul id="answers-list">
                    <h4>{{myanswer.content}}</h3>
                    <h6> {{myanswer.created_at}}</h3>
                    <a href="{% url 'ask:question_detail' myanswer.question.id %}" class="btn-action">View Question</a>
                    </ul>
                </div>
            </div>
            {% endfor %}
  
</main>
{% endif %}

    {% endblock body %}
