{% extends "base.html" %}

{% block body %}
{% load static %}

  <main class="profile-page layout layout--3">
    <div class="container" style=" width: 100%;  border: 2px solid rgb(94, 94, 94);  border-radius: 40px; padding: 20px; background:rgba(137, 142, 137, 0.351); color: var(--color-dark); box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);">

    <div class="container1" style=" width: 100%;  border: 2px solid rgb(94, 94, 94);  border-radius: 40px; padding: 20px; background:rgba(137, 142, 137, 0.351); color: var(--color-dark); box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);">
      <!-- Answers Start -->
      
      <div class="container1 main-container">

        <div class="activities__header">
            <h2> Last 3 Answers</h2>
        </div>

        {% for answer in answers|slice:":3" %}
            <div class="container question-container">
                <p>Question: 
                    <a href='{% url "ask:question_detail" answer.question.id %}'>
                        {{answer.question.title|truncatechars:15}}
                    </a>
                  </p>
                </div>
                
                <br>
                {% endfor %}
              </div>
              </div>

              

        
      <!-- Answers End -->

      <!-- Info Start -->
      <div class="roomList">

        <div class="container" style=" width: 100%;  border: 2px solid rgb(94, 94, 94);  border-radius: 40px; padding: 20px; background:rgba(137, 142, 137, 0.351); color: var(--color-dark); box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);">

          <div class="profile">
            <h1> {{questions.count}} Questions ,  {{answers.count}} Answers </h1> 
          <div class="profile__avatar">
            <div class="avatar avatar--large active">
              
              {% if profile.image %}
              <img src="{{profile.image.url}}" />
                {% else %}
                <img src="{% static 'assets/avatar.svg' %}" alt="User Avatar" />
                {% endif %}
              
            </div>
          </div>
          <div class="profile__info">
            <h3>{{profile.user.first_name}} {{profile.user.last_name}}</h3>
            <p>@{{profile.user}}</p>
            {% if my_user == profile.user %}
            <a href='{% url "accounts:profile_edit" profile.slug %}' class="btn btn--main btn--pill">Edit Profile</a>
            {% else %}

                  {% if friending_status == 'not_sended' %}
                  <a href='{% url "friend:add_friend" profile.slug %}' class="btn btn--main btn--pill">Add Friend</a>
                  {% elif friending_status == "waiting" %}
                  <a href='{% url "friend:add_friend" profile.slug %}' class="btn btn--main btn--pill">Cancel Request</a>
                  
                  {% elif friending_status == "confirmed" %}
                  <a href='{% url "friend:un_friend" profile.slug %}' class="btn btn--main">Remove Friend</a>
                  <br>
                  <br>
                  <a href="{% url 'friend:chat' profile %}" class="btn btn--main btn--pill" >֍Chat</a>


                  {% endif %}
                  
            {% endif %}

            </div>
            <br>

            <div class="container1" style=" width: 100%;  border: 2px solid rgb(94, 94, 94);  border-radius: 40px; padding: 20px; background:rgba(137, 142, 137, 0.351); color: var(--color-dark); box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);">
              <h3>About</h3>
            <p>
              {% if profile.bio %}
              Bio : {{profile.bio}}
              <br>
              {% endif %}
              {% if profile.birth_day %}
              Birthday :  {{profile.birth_day|date}}
              <br>
              {% endif %}
              {% if profile.tel %}
              Tel : {{profile.tel}}
              <br>
              {% endif %}
              {% if profile.user.email %}
              Email : {{profile.user.email}}
              <br>
              {% endif %}
            </p>
          </div>
        </div>


        <div class="container1" style=" width: 100%;  border: 2px solid rgb(94, 94, 94);  border-radius: 40px; padding: 20px; background:rgba(137, 142, 137, 0.351); color: var(--color-dark); box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);">

        {% for question in questions  %}
          
          
        <div class="roomListRoom">
          <div class="roomListRoom__header">
            <a href='{% url "ask:question_detail" question.id %}' class="roomListRoom__author">
              <div class="avatar avatar--small active">
                <img src="{% static 'assets/avatar.svg' %}" alt="User Avatar" />
              </div>
              <span>@{{question.user.username}}</span>
            </a>
            <div class="roomListRoom__actions">
              <span style="color:var(--color-dark-light)" >{{question.created_at|timesince}}</span>

            </div>
          </div>
          <div class="roomListRoom__content">
            <a href='{% url "ask:question_detail" question.id %}'>{{question.title}}</a>
            <p style="color:var(--color-gray)">
            {{question.content}}
            </p>
          </div>

          <div class="roomListRoom__meta">

            
            {% if request.user in question.like.all %}
                  
            <div class="thread__delete">

              <a style="font-size: x-large;" href="{% url 'ask:question_like' id=question.id %}"> ♥</a> 
              <a style="font-size: small;" href="{% url 'ask:question_like' id=question.id %}">{{question.like.count}}</a> 
            </div>
            
            {% else %}
            
          <div class="thread__delete">
            <a  style="font-size: x-large;color:thistle " href="{% url 'ask:question_like' id=question.id %}"> ♥</a> 
            <a style="font-size: small;" href="{% url 'ask:question_like' id=question.id %}">{{question.like.count}}</a> 
          </div>
                
              {% endif %}
          
          {% for tag in question.tags.all %}
          <a href="{% url 'ask:question_list_by_tag' tag.slug %}">
            <p class="roomListRoom__topic">{{tag.name}}</p>
          </a>
          {% endfor %}
          </div>
        </div>
        {% endfor %}

      </div>  
      </div>  
      </div>  
      <!-- Info List End -->

      <!-- Friend & Groups Start -->
      <div class="container1" style=" width: 100%;  border: 2px solid rgb(94, 94, 94);  border-radius: 40px; padding: 20px; background:rgba(137, 142, 137, 0.351); color: var(--color-dark); box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);">
      <div class="container1" style=" width: 100%; border: 2px solid rgb(222, 101, 101); border-radius: 40px; padding: 20px; background: var(--color-dark-medium); color: var(--color-main); box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);">

          <div class="activities-content">
            <div class="toggle-button" id="toggleButton2"><span class="arrow2">▼</span><h2 >Friends</h2></div>
          </div>
          <div class="activities-content" id="activitiesContent2" style="display: none;">

            {% for friend in friends %}
            <div class="activities__boxHeader roomListRoom__header" style="margin-top: px; border: 1px solid var(--color-dark); border-radius: 40px; padding: 10px; background: var(--color-dark-medium); color: var(--color-dark-light); box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);">
                 <a href='{% url "accounts:profile" friend %}' class="roomListRoom__author">{{friend}}</a>                
            </div>
                {% endfor %}
          </div>
      </div>
        <br>
        <br>
        <br>
        <div class="activities-content" style="margin-top: px; border: 1px solid var(--color-dark); border-radius: 40px; padding: 10px; background: var(--color-dark-medium); color: var(--color-dark-light); box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);">

          <div class="toggle-button" id="toggleButton">
            <span class="arrow">▼</span><h2 >Groups</h2>
          
          </div>
        </div>
        <div class="activities-content" id="activitiesContent" style="display: none;">
          {% for group in mygroups %}
          <div class="activities__boxHeader roomListRoom__header" style="margin-top: 10px; border: 2px solid var(--color-dark-medium); border-radius: 40px; padding: 20px; background: var(--color-dark-light); color: var(--color-dark-light); box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);">
          <div class="activities__boxHeader roomListRoom__header">
              <a href='{% url "group:group_detail" group.id %}' class="roomListRoom__author">
                <p>{{group.name}}</span></p>
              </div>
            </a>

          </div>
          {% endfor %}
        </div>
      </div>
      
      </div>
    </div>
    
      <!-- Activities End -->
      
    </div>

  </main>


  <script>
    const toggleButton = document.getElementById('toggleButton');
    const activitiesContent = document.getElementById('activitiesContent');
    const arrow = document.querySelector('.arrow');

    const toggleButton2 = document.getElementById('toggleButton2');
    const activitiesContent2 = document.getElementById('activitiesContent2');
    const arrow2 = document.querySelector('.arrow2');
    
    // تهيئة حالة العرض الافتراضية
    activitiesContent.style.display = 'none'; // تأكد من أن محتوى الأنشطة مخفي افتراضيًا
    
    toggleButton.addEventListener('click', () => {
      // تغيير حالة العرض لمحتوى الأنشطة
      if (activitiesContent.style.display === 'none') {
        activitiesContent.style.display = 'block';
        arrow.classList.add('rotate'); // إضافة الكلاس للدوران
      } else {
        activitiesContent.style.display = 'none';
        arrow.classList.remove('rotate'); // إزالة الكلاس للدوران
      }
    });

    
    activitiesContent2.style.display = 'none'; // تأكد من أن محتوى الأنشطة مخفي افتراضيًا
    
    toggleButton2.addEventListener('click', () => {
      // تغيير حالة العرض لمحتوى الأنشطة
      if (activitiesContent2.style.display === 'none') {
        activitiesContent2.style.display = 'block';
        arrow2.classList.add('rotate'); // إضافة الكلاس للدوران
      } else {
        activitiesContent2.style.display = 'none';
        arrow2.classList.remove('rotate'); // إزالة الكلاس للدوران
      }
    });
    
    
  </script>


  {% endblock body %}





