{% extends "base.html" %}

{% block body %}

    <main>
        <section class="search">
            <h2>Search friends</h2>
            <form action="#" method="get">
                <input type="text" id="search" name="search" placeholder="Search for friends..." required>
                <button type="submit">Search</button>
            </form>
        </section>
        <h2>All friends</h2>
        {% for friend in friends  %}
        <section class="questions-list">
            <!-- List of questions here -->

                <div class="question-item">
                    <div class="question-box">
                        <h3 class="question-title">{{friend.name}}</h3>
                        <!-- <p class="question-user">@{{friend.user}}</p>
                        <p class="question-description">{{friend.content}}</p>
                        <p class="question-meta">{{friend.created_at}}</p> -->

                        <a href="{{ question.get_absolute_url }}" class="btn details-btn">View Details</a>
                    </div>
                </div>
            </section>
            {% endfor %}
    </main>

    {% endblock body %}
    